<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#2 Template Basics</title>
</head>
<body>
    <h1>Blog Filter Page</h1>
    <p>Author Available?:{{post.author|yesno:"Yes,No,MayBe"}} </p>
    <p>Comment Counts?:{{post.comments_count}} Comment{{post.comments_count|pluralize}} </p>
    <hr>

    <!-- Date and Time -->
        <p><b>Created At:</b>{{post.created_at}} </p>
        <p><b>Formated Date:</b>{{post.created_at|date:"D d M Y"}} </p>
        <p><b>Time Only:</b>{{post.created_at|time:"H:i"}} </p>
        <hr>

     <!-- Encoading and formated -->
      <p><b>Title Encoading:</b>{{post.title|urlencode  }} </p>
      <p><b>Float Formate Example:</b>{{ 123.4567891|floatformat:3 }} </p>



<hr>
    <!-- Text Filter -->
    <p><b>Title (Normal):</b>{{post.title}} </p>
    <p><b>upperCase:</b>{{post.title|upper}} </p>
    <p><b>lowerCase:</b>{{post.title|lower}} </p>
    <p><b>Capital:</b>{{post.title|capfirst}} </p>
    <p><b>Title Case:</b>{{post.title|title}} </p>
    <p><b>TrancateChar:</b>{{post.title|truncatechars:20}} </p>
    <p><b>TrancateWord:</b>{{post.title|truncatewords:2}} </p>
    <p><b>LineBrake:</b>{{post.title|linebreaks}} </p>
    <hr>
    <!-- Add -->

    <p><b>Original Price:</b>{{post.price}}</p>
    <p><b>Original Price(+5):</b>{{post.price|add:5}}</p>

    <!-- Division -->
    {%if post.number|divisibleby:2%}
    <p>{{post.number}} is Even</p>
    {%else%}
    <p>{{post.number}} is Odd</p>
    {%endif%}

    <!-- List Filter -->
        <p><b>first Tag:</b>{{post.tags}} </p>
        <p><b>first Tag:</b>{{post.tags|first}} </p>
        <p><b>first Tag:</b>{{post.tags|last}} </p>
        <p><b>Length Tag:</b>{{post.tags|length}} </p>
        <p><b>Slice (First 2):</b>{{post.tags|slice:":2"}} </p>
        <p><b>join Tag:</b>{{post.tags|join:","}} </p>
        
        <hr>
</body>
</html>