<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#3 Template</title>
</head>
<body>
    <h1 style="color:red">Blog List</h1>
    <p> {{today}} </p>
    <hr>

    <!-- If Else -->
    {% if blogs.1.is_featured %}
    <h2>Featured Blog: {{blogs.1.title}} - Normal Blog</h2>
    {% else %}
    <h2>No Featured Blogs: {{blogs.1.title}} - Regular  Blogs</h2>
    {%endif%}

    <hr>


    <!-- For Loop -->

    <ul>
        {% for blog in blogs%}
        <li>
            {{forloop.counter}}. {{blog.title}} - {{blog.author}}
        </li>
        {% empty %}
        <li>No blogs available.</li>
        {% endfor %}
    </ul>

    {% comment %} With {% endcomment %}
    {% with total_blogs=blogs|length %} 
    <p>Total Blogs:{{total_blogs}} </p>
        {% endwith %}

        <hr>

        {% comment %} Cycle {% endcomment %}
        <h2>Blogs in Table</h2>
        <Table border="1" cellpadding="5" cellspacing="0">
            {% for blog in blogs %} 
            <tr style="background-color: {% cycle 'lightblue' 'lightgreen' %};">
                <td>{{forloop.counter}}</td>
                <td>{{blog.title}}</td>
                <td>{{blog.author}}</td>
            </tr>
            {% endfor %}
        </Table>
        <hr>

        {% comment %} FirstOf {% endcomment %}
        <p>Author: {% firstof  blog.1.author "Anonymous" %} </p>
        <hr>

        {% comment %} Varbatim {% endcomment %}
        {% verbatim  %}
        <p>Author:{{blog.1.author}} </p>
        {% endverbatim  %}
        <hr>

        {% comment %} autoescape {% endcomment %}

  
        <h2>Autoescape Example</h2>
        <p>default(Safe Escape): {{html_code}}</p>
        <p>autoescape Off: {{html_code|safe}}</p>

        {% autoescape off %}
        <p>autoescape Off: {{html_code}}</p>
        {% endautoescape %}


</body>
</html>